<tr>
    <td>{{id }}</td>
    <td>{{toDateString createDateTime}}</td>

    <td>
        {{#if submitDateTime}}
        {{toDateString submitDateTime}}
        {{else}}
        تایید نشده
        {{/if}}
    </td>

    <td>{{numberToLocaleString price}}</td>
    <td>{{statusTitle}}</td>
    <td class="col-3">{{description}}</td>

    <td class="text-center">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal{{id}}">
            <i class="bi bi-search"></i> <!-- Changed to Search Icon -->
        </button>
    </td>

    <td class="text-center">
        <button id="submitBtn{{id}}" type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
            data-bs-target="#submitModal{{id}}">
            <i class="bi bi-save"></i> <!-- Changed to Save Icon -->
        </button>
    </td>

    <td class="text-center">
        <button id="cancelBtn{{id}}" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
            data-bs-target="#cancelModal{{id}}">
            <i class="bi bi-x"></i>
        </button>
    </td>


    <td>
        <!-- View Modal -->
        <div class="modal fade" id="viewModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-secondary">
                        <h5 class="modal-title" id="viewModalLabel">فاکتور شماره {{id}}</h5>
                        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        {{> factors/view-factor products=this.products}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">بستن</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>





<!-- Submit Modal -->
<div class="modal fade" id="submitModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitModalLabel">تایید فاکتور</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                آیا برای تایید فاکتور شماره {{id}} مطمئن هستید؟
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">بستن</button>

                <button id="submitCommandBtn{{id}}" type="button" class="btn btn-primary btn-sm">تایید</button>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitModalLabel">لغو فاکتور</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                آیا برای لغو فاکتور شماره {{id}} مطمئن هستید؟
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">بستن</button>

                <button id="cancelCommandBtn{{id}}" type="button" class="btn btn-primary btn-sm">تایید</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {

        const cancelBtn = document.getElementById(`cancelBtn{{id}}`);

        if ("{{ status }}" == 3)

            cancelBtn.disabled = true;
        else
            cancelBtn.disabled = false;


        const submitBtn = document.getElementById(`submitBtn{{id}}`);
        if ("{{ status }}" != 1)
            submitBtn.disabled = true;
        else
            submitBtn.disabled = false;

        //Submit Button Event
        const submitCommandBtn = document.getElementById(`submitCommandBtn{{id}}`);
        submitCommandBtn.addEventListener('click', () => {
            fetch(`/api/factors/submit/{{id}}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => {
                    if (res.ok) {
                        window.location.reload();
                    } else {
                        alert('خطای تایید فاکتور: ');
                    }
                })
                .catch(error => {
                    alert('خطای تایید فاکتور: ');
                    console.error('Error:', error)
                });

        });


        //Cancel Button Event
        const cancelCommandBtn = document.getElementById(`cancelCommandBtn{{id}}`);
        cancelCommandBtn.addEventListener('click', () => {
            fetch(`/api/factors/cancel/{{id}}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => {
                    if (res.ok) {
                        window.location.reload();
                    } else {
                        alert('خطای لغو فاکتور: ');
                    }
                })
                .catch(error => {
                    alert('خطای لغو فاکتور: ');
                    console.error('Error:', error)
                });

        });


    });

</script>