<div class="col-6 col-lg-4 col-xl-3 col-xxl-2  mb-4 ">
    <div class="card">
        <img src={{image}} class="card-img-top" style="aspect-ratio: 1/1;" alt={{name}}>
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><strong>{{numberToLocaleString price}} ریال</strong></p>
            <a href="#" class="btn btn-primary btn-sm">سفارش فاکتور</a>
        </div>
    </div>
</div>